<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Car</title>
    <style>table th, table td {padding: 5px;}</style>
</head>

<body>
<h1>Cars</h1>

<table border="1">
    <tr>
        <th>id</th>
        <th>color</th>
        <th>name</th>
    </tr>
    <tr th:each="list: ${list} ">
        <td th:text="${list.id}">id</td>
        <td th:text="${list.color}">color</td>
        <td th:text="${list.name}">name</td>
    </tr>

</table>

</body>

</html>